@page "/"
@using GiscusBlazor;

<PageTitle>Index</PageTitle>

<h1>Hello, giscus-blazor!</h1>

Welcome to giscus-blazor!

<Giscus Repo="Jisu-Woniu/giscus-blazor"
        RepoId="R_kgDOG5OPrQ"
        Category="Announcements"
        CategoryId="DIC_kwDOG5OPrc4CBTDa"
        Mapping="Mapping.Specific"
        Term="Welcome to giscus-blazor!"
        ReactionsEnabled="true"
        EmitMetadata="false"
        InputPosition="InputPosition.Bottom"
        Theme="light"
        Lang="en" />
