@page "/counter"
@using GiscusBlazor

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<Giscus Repo="Jisu-Woniu/giscus-blazor"
        RepoId="R_kgDOG5OPrQ"
        Category="Announcements"
        CategoryId="DIC_kwDOG5OPrc4CBTDa"
        Mapping="Mapping.PathName"
        ReactionsEnabled="true"
        EmitMetadata="false"
        InputPosition="InputPosition.Bottom"
        Theme="light"
        Lang="en" />

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
